<section class="advantages">
  <div class="container">
    <h1 class="visually-hidden">Advantages</h1>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="./images/icons.svg#female-student-border-mobil"></use>
        </svg>
        <div class="advantages__description"><p>Adapted author's UPE program</p></div>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="./images/icons.svg#mobile-learning-border-mobil"></use>
        </svg>
        <div class="advantages__description-second"><p>Modern teaching methods</p></div>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="./images/icons.svg#insurance-border-mobil"></use>
        </svg>
        <div class="advantages__description-third"><p>Financial guarantee the result</p></div>
      </li>
    </ul>
  </div>
</section>
