<section class="contacts-section" id="form">
  <h2 class="contacts__title">
    Registration for a <span class="contacts__title--color">free</span> phone
    <span class="contacts_title--color">consultation</span> on the nuances of English UPE
  </h2>

  <p class="contacts__text">
    Leave a request for participation in a <span class="contacts__title--color">free lesson</span>.
  </p>
  <p class="contacts__text">A consultant will contact you and answer your questions</p>
  <form class="contacts-form">
    <div class="contacts-form__wrapper">
      <div class="contacts-form__item--flex">
        <label>
          <input
            type="text"
            name="username"
            class="contacts-form__input colortext"
            placeholder="Name*"
          />
        </label>
      </div>
      <div class="contacts-form__item--flex">
        <label>
          <input
            type="tel"
            name="number"
            class="contacts-form__input colortext"
            placeholder="Phone*"
          />
        </label>
      </div>
      <div class="contacts-form__item--flex">
        <button type="submit" class="contacts-form__button">i want a free lesson</button>
      </div>
    </div>
  </form>
</section>
