<footer>
  <div class="container">
    <div class="footer-one">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" width="128px" height="45px">
          <use href="./images/icons.svg#logo"></use>
        </svg>
      </a>
      <div class="contact-number">
        <a class="footer-one__number" href="tel:+380000000000">
          <svg class="footer-one__icon-phone" width="30" height="29">
            <use href="./images/icons.svg#phone"></use>
          </svg>
          +38 (000) 000 00 00</a
        >
        <a class="footer-one__icon-inst" href=""></a>
      </div>
    </div>
  </div>

  <div class="footer-two">
    <div class="container">
      <p class="footer-two__text">&#64;All rights reserved, 2019</p>
    </div>
  </div>
</footer>
