<section class="hero">
  <div class="container hero__container">
    <div class="hero__text-package">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__paragraph">
        <span class="hero__paragraph-grey">It won’t be easy.</span><br />
        <span class="hero__paragraph-black">But you’re guaranteed to get</span><br />
        <span class="hero__paragraph-orange">+25 points</span>
      </p>
    </div>
    <a class="hero__btn" href="#form">I want a free lesson</a>
  </div>
</section>
