<section class="how-we-do">
    <div class="container">
        <h2 class="how-we-do__title">How do we do</h2>
        <ul class="how-we-do-list">
            <li class="how-we-do-list__item">
                <div class="how-we-do__container">
                    <svg class="how-we-do-list__icon" width="45.39" height="48">
                        <use href="./images/icons.svg#study-program"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-list__suptitle">Adapted program preparation for UPE</h3>
                <p class="how-we-do-list__text">You will learn grammar and vocabulary at the same time. And you will
                    learn how to write essays.</p>
            </li>
            <li class="how-we-do-list__item">
                <div class="how-we-do__container">
                    <svg class="how-we-do-list__icon" width="48" height="47">
                        <use href="./images/icons.svg#mobile-learning"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-list__suptitle">Classroom and online learning</h3>
                <p class="how-we-do-list__text">The teacher will help not only in the classroom, but also during home
                    preparation. Parents can chat if they wish.</p>
            </li>
            <li class="how-we-do-list__item">
                <div class="how-we-do__container">
                    <svg class="how-we-do-list__icon" width="68.43" height="48">
                        <use href="./images/icons.svg#open-book"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-list__suptitle">The habit of reading in English</h3>
                <p class="how-we-do-list__text">Articles from sources that are used in the development of this UPE will
                    be received by phone twice a
                    week.
                </p>
            </li>
            <li class="how-we-do-list__item">
                <div class="how-we-do__container">
                    <svg class="how-we-do-list__icon" width="48.35" height="48">
                        <use href="./images/icons.svg#support"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-list__suptitle">Psychological support</h3>
                <p class="how-we-do-list__text">We will teach you testing techniques, the ability to plan your
                    confidence training in itself.</p>
            </li>
            <li class="how-we-do-list__item">
                <div class="how-we-do__container">
                    <svg class="how-we-do-list__icon" width="39.83" height="48">
                        <use href="./images/icons.svg#female-student"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-list__suptitle">Training on copyright manuals</h3>
                <p class="how-we-do-list__text">You don't have to waste your time
                    on a search for material and to buy anything extra. We have compiled
                    2 manuals for you.</p>
            </li>
            <li class="how-we-do-list__item">
                <div class="how-we-do__container">
                    <svg class="how-we-do-list__icon" width="57.14" height="48">
                        <use href="./images/icons.svg#audio-book"></use>
                    </svg>
                </div>
                <h3 class="how-we-do-list__suptitle">Ability to comprehend spoken English</h3>
                <p class="how-we-do-list__text">“F.R.I.E.N.D.S” won't help you. You will listen regularly
                    and analyze audio recordings
                    in accordance with the studied vocabulary.</p>
            </li>
        </ul>
    </div>
</section>
