<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button--close" type="button" data-modal-close>
      <svg class="modal__icon--close" width="15px" height="15px">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <b class="modal__title">Leave us your details and we will call you back</b>
    <form class="modal__form">
      <ul class="modal__list list">
        <li class="modal__field">
          <label class="modal__label" for="name">Name</label>
          <input class="modal__input" type="text" name="name" id="name" />
          <svg class="modal__icon" width="18px" height="18px">
            <use href="./images/icons.svg#campfire"></use>
          </svg>
        </li>
        <li class="modal__field">
          <label class="modal__label" for="tel"> Phone </label>
          <input class="modal__input" type="tel" name="tel" id="tel" />
          <svg class="modal__icon" width="18px" height="18px">
            <use href="./images/icons.svg#campfire"></use>
          </svg>
        </li>
        <li class="modal__field">
          <label class="modal__label" for="email"> E-mail </label>
          <input class="modal__input" type="email" name="email" id="email" />
          <svg class="modal__icon" width="18px" height="18px">
            <use href="./images/icons.svg#campfire"></use>
          </svg>
        </li>
        <li class="modal__field modal__field--comment">
          <label class="modal__label" for="comment">Comment</label>
          <textarea
            name="comment"
            id="comment"
            rows="8"
            maxlength="1000"
            placeholder="Enter text"
          ></textarea>
        </li>
      </ul>

      <label class="policy">
        <input
          class="policy__checkbox visually-hidden"
          type="checkbox"
          name="policy"
          value="policy"
        />
        <svg class="policy__icon" width="16px" height="15px">
          <use href="./images/icons.svg#check"></use>
        </svg>
        I agree to the newsletter and accept &nbsp
        <a class="policy__link" href="">Privacy policy</a>
      </label>

      <button class="modal__button--submit" type="submit">Send</button>
    </form>
  </div>
</div>
