<section class="problems">
  <div class="container">
    <h2 class="problems__title">
      The main problems of students <br />
      in English UPE, which <br />
      we <span class="accent-word">help</span> to solve
    </h2>
    <div class="problems__container" data-aos="zoom-out-up" >
      <ul class="problems__list">
        <li class="problems__item" data-aos="zoom-out-down" data-aos-duration="800" data-aos-delay="50">
          <p class="problems__description">Grammar</p>
        </li>

        <li class="problems__item" data-aos="zoom-out-down" data-aos-duration="800" data-aos-delay="50">
          <p class="problems__description">Inability to understand spoken English</p>
        </li>

        <li class="problems__item" data-aos="zoom-out-down" data-aos-duration="800" data-aos-delay="100">
          <p class="problems__description">Stingy vocabulary for writing an essay</p>
        </li>

        <li class="problems__item" data-aos="zoom-out-down" data-aos-duration="1200" data-aos-delay="150">
          <p class="problems__description">Preparing alone</p>
        </li>

        <li class="problems__item" data-aos="zoom-out-down" data-aos-duration="1200" data-aos-delay="200">
          <p class="problems__description">Lack of a single knowledge resource</p>
        </li>

        <li class="problems__item" data-aos="zoom-out-down" data-aos-duration="1200" data-aos-delay="250">
          <p class="problems__description">Lack of self-organization and laziness</p>
        </li>
      </ul>
    </div>
  </div>
</section>
