<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title">Feedback from graduates</h2>
    <!-- слайдер -->
    <div class="slider">
      <div class="slider__wrapper">
        <ul class="slider__cards">
          <li class="slider__item">
            <!-- карточка Алина -->
            <div class="card">
              <div class="card__contact">
                <picture>
                  <source
                    srcset="
                      ./images/reviews/ava/alina.webp   1x,
                      ./images/reviews/ava/alina@2.webp 2x
                    "
                    media="(min-width:1366px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/alina.jpg 1x, ./images/reviews/ava/alina@2.jpg 2x"
                    media="(min-width:1366px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/alina.webp   1x,
                      ./images/reviews/ava/alina@2.webp 2x
                    "
                    media="(min-width:768px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/alina.jpg 1x, ./images/reviews/ava/alina@2.jpg 2x"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/alina-mobile.webp   1x,
                      ./images/reviews/ava/alina-mobile@2.webp 2x
                    "
                    media="(min-width:280px)"
                    type="images/web"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/alina-mobile.jpg   1x,
                      ./images/reviews/ava/alina-mobile@2.jpg
                    "
                    media="(min-width:280px)"
                  />
                  <img class="card__avatar" src="#" alt="student" />
                </picture>
                <a
                  class="card__link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="card__icon" width="30" height="30">
                    <use href="./images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="card__info">
                <h3 class="card__name">Alina Ivanova</h3>
                <p class="card__description">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="card__comment">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student...Read more
                </p>
              </div>
            </div>
          </li>
          <li class="slider__item">
            <!-- карточка Дина -->
            <div class="card">
              <div class="card__contact">
                <picture>
                  <source
                    srcset="./images/reviews/ava/dina.webp 1x, ./images/reviews/ava/dina@2.webp 2x"
                    media="(min-width:1366px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/dina.jpg 1x, ./images/reviews/ava/dina@2.jpg 2x"
                    media="(min-width:1366px)"
                  />
                  <source
                    srcset="./images/reviews/ava/dina.webp 1x, ./images/reviews/ava/dina@2.webp 2x"
                    media="(min-width:768px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/dina.jpg 1x, ./images/reviews/ava/dina@2.jpg 2x"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/dina-mobile.webp   1x,
                      ./images/reviews/ava/dina-mobile@2.webp 2x
                    "
                    media="(min-width:280px)"
                    type="images/web"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/dina-mobile.jpg   1x,
                      ./images/reviews/ava/dina-mobile@2.jpg
                    "
                    media="(min-width:280px)"
                  />
                  <img class="card__avatar" src="#" alt="student" />
                </picture>
                <a
                  class="card__link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="card__icon" width="30" height="30">
                    <use href="./images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </div>

              <div class="card__info">
                <h3 class="card__name">Dina Petrova</h3>
                <p class="card__description">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="card__comment">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student...Read more
                </p>
              </div>
            </div>
          </li>
          <li class="slider__item">
            <!-- карточка Диана -->
            <div class="card">
              <div class="card__contact">
                <picture>
                  <source
                    srcset="
                      ./images/reviews/ava/diana.webp   1x,
                      ./images/reviews/ava/diana@2.webp 2x
                    "
                    media="(min-width:1366px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/diana.jpg 1x, ./images/reviews/ava/diana@2.jpg 2x"
                    media="(min-width:1366px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/diana.webp   1x,
                      ./images/reviews/ava/diana@2.webp 2x
                    "
                    media="(min-width:768px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/diana.jpg 1x, ./images/reviews/ava/diana@2.jpg 2x"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/diana-mobile.webp   1x,
                      ./images/reviews/ava/diana-mobile@2.webp 2x
                    "
                    media="(min-width:280px)"
                    type="images/web"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/diana-mobile.jpg   1x,
                      ./images/reviews/ava/diana-mobile@2.jpg
                    "
                    media="(min-width:280px)"
                  />
                  <img class="card__avatar" src="#" alt="student" />
                </picture>
                <a
                  class="card__link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="card__icon" width="30" height="30">
                    <use href="./images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </div>

              <div class="card__info">
                <h3 class="card__name">Diana Panina</h3>
                <p class="card__description">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="card__comment">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student...Read more
                </p>
              </div>
            </div>
          </li>
          <li class="slider__item">
            <!-- карточка Ева -->
            <div class="card">
              <div class="card__contact">
                <picture>
                  <source
                    srcset="./images/reviews/ava/eva.webp 1x, ./images/reviews/ava/eva@2.webp 2x"
                    media="(min-width:1366px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/eva.jpg 1x, ./images/reviews/ava/eva@2.jpg 2x"
                    media="(min-width:1366px)"
                  />
                  <source
                    srcset="./images/reviews/ava/eva.webp 1x, ./images/reviews/ava/eva@2.webp 2x"
                    media="(min-width:768px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/eva.jpg 1x, ./images/reviews/ava/eva@2.jpg 2x"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/eva-mobile.webp   1x,
                      ./images/reviews/ava/eva-mobile@2.webp 2x
                    "
                    media="(min-width:280px)"
                    type="images/web"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/eva-mobile.jpg   1x,
                      ./images/reviews/ava/eva-mobile@2.jpg
                    "
                    media="(min-width:280px)"
                  />
                  <img class="card__avatar" src="#" alt="student" />
                </picture>
                <a
                  class="card__link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="card__icon" width="30" height="30">
                    <use href="./images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="card__info">
                <h3 class="card__name">Eva Kravcova</h3>
                <p class="card__description">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="card__comment">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student...Read more
                </p>
              </div>
            </div>
          </li>
          <li class="slider__item">
            <!-- карточка Ира -->
            <div class="card">
              <div class="card__contact">
                <picture>
                  <source
                    srcset="./images/reviews/ava/ira.webp 1x, ./images/reviews/ava/ira@2.webp 2x"
                    media="(min-width:1366px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/ira.jpg 1x, ./images/reviews/ava/ira@2.jpg 2x"
                    media="(min-width:1366px)"
                  />
                  <source
                    srcset="./images/reviews/ava/ira.webp 1x, ./images/reviews/ava/ira@2.webp 2x"
                    media="(min-width:768px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/ira.jpg 1x, ./images/reviews/ava/ira@2.jpg 2x"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/ira-mobile.webp   1x,
                      ./images/reviews/ava/ira-mobile@2.webp 2x
                    "
                    media="(min-width:280px)"
                    type="images/web"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/ira-mobile.jpg   1x,
                      ./images/reviews/ava/ira-mobile@2.jpg
                    "
                    media="(min-width:280px)"
                  />
                  <img class="card__avatar" src="#" alt="student" />
                </picture>
                <a
                  class="card__link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="card__icon" width="30" height="30">
                    <use href="./images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="card__info">
                <h3 class="card__name">Irina Kernes</h3>
                <p class="card__description">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="card__comment">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student...Read more
                </p>
              </div>
            </div>
          </li>
          <li class="slider__item">
            <!-- карточка Тоня -->
            <div class="card">
              <div class="card__contact">
                <picture>
                  <source
                    srcset="
                      ./images/reviews/ava/tonya.webp   1x,
                      ./images/reviews/ava/tonya@2.webp 2x
                    "
                    media="(min-width:1366px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/tonya.jpg 1x, ./images/reviews/ava/tonya@2.jpg 2x"
                    media="(min-width:1366px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/tonya.webp   1x,
                      ./images/reviews/ava/tonya@2.webp 2x
                    "
                    media="(min-width:768px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/tonya.jpg 1x, ./images/reviews/ava/tonya@2.jpg 2x"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/tonya-mobile.webp   1x,
                      ./images/reviews/ava/tonya-mobile@2.webp 2x
                    "
                    media="(min-width:280px)"
                    type="images/web"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/tonya-mobile.jpg   1x,
                      ./images/reviews/ava/tonya-mobile@2.jpg
                    "
                    media="(min-width:280px)"
                  />
                  <img class="card__avatar" src="#" alt="student" />
                </picture>
                <a
                  class="card__link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="card__icon" width="30" height="30">
                    <use href="./images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="card__info">
                <h3 class="card__name">Tonya Kucherovskaya</h3>
                <p class="card__description">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="card__comment">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student...Read more
                </p>
              </div>
            </div>
          </li>
          <li class="slider__item">
            <!-- карточка Лиза -->
            <div class="card">
              <div class="card__contact">
                <picture>
                  <source
                    srcset="./images/reviews/ava/liza.webp 1x, ./images/reviews/ava/liza@2.webp 2x"
                    media="(min-width:1366px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/Liza.jpg 1x, ./images/reviews/ava/Liza@2.jpg 2x"
                    media="(min-width:1366px)"
                  />
                  <source
                    srcset="./images/reviews/ava/Liza.webp 1x, ./images/reviews/ava/Liza@2.webp 2x"
                    media="(min-width:768px)"
                    type="images/web"
                  />
                  <source
                    srcset="./images/reviews/ava/Liza.jpg 1x, ./images/reviews/ava/Liza@2.jpg 2x"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/Liza-mobile.webp   1x,
                      ./images/reviews/ava/Liza-mobile@2.webp 2x
                    "
                    media="(min-width:280px)"
                    type="images/web"
                  />
                  <source
                    srcset="
                      ./images/reviews/ava/Liza-mobile.jpg   1x,
                      ./images/reviews/ava/Liza-mobile@2.jpg
                    "
                    media="(min-width:280px)"
                  />
                  <img class="card__avatar" src="#" alt="student" />
                </picture>
                <a
                  class="card__link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <svg class="card__icon" width="30" height="30">
                    <use href="./images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="card__info">
                <h3 class="card__name">Liza Boyko</h3>
                <p class="card__description">
                  Graduated from 2015, National University of Bioresources and natural history of
                  Ukraine
                </p>
                <p class="card__comment">
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I
                  became friends because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to make the slightest
                  mistake. Now I can brag that I'm student...Read more
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- кнопки слайдера -->
      <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"> </a>
      <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"> </a>
    </div>

    <!-- эскизы -->
    <ul class="slider__thumbnails">
      <li class="slider__thumbnails-item">
        <picture>
          <source
            srcset="
              ./images/reviews/mini/alina-mini.webp   1x,
              ./images/reviews/mini/alina-mini@2.webp 2x
            "
            media="(min-width:320px)"
            type="image/web"
          />
          <source
            srcset="
              ./images/reviews/mini/alina-mini.jpg   1x,
              ./images/reviews/mini/alina-mini@2.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img src="#" alt="student" class="gallery__img" />
        </picture>
      </li>
      <li class="slider__thumbnails-item">
        <picture>
          <source
            srcset="
              ./images/reviews/mini/dina-mini.webp   1x,
              ./images/reviews/mini/dina-mini@2.webp 2x
            "
            media="(min-width:320px)"
            type="image/web"
          />
          <source
            srcset="
              ./images/reviews/mini/dina-mini.jpg   1x,
              ./images/reviews/mini/dina-mini@2.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img src="#" alt="student" class="gallery__img" />
        </picture>
      </li>
      <li class="slider__thumbnails-item">
        <picture>
          <source
            srcset="
              ./images/reviews/mini/diana-mini.webp   1x,
              ./images/reviews/mini/diana-mini@2.webp 2x
            "
            media="(min-width:320px)"
            type="image/web"
          />
          <source
            srcset="
              ./images/reviews/mini/diana-mini.jpg   1x,
              ./images/reviews/mini/diana-mini@2.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img src="#" alt="student" class="gallery__img" />
        </picture>
      </li>
      <li class="slider__thumbnails-item">
        <picture>
          <source
            srcset="
              ./images/reviews/mini/eva-mini.webp   1x,
              ./images/reviews/mini/eva-mini@2.webp 2x
            "
            media="(min-width:320px)"
            type="image/web"
          />
          <source
            srcset="./images/reviews/mini/eva-mini.jpg 1x, ./images/reviews/mini/eva-mini@2.jpg 2x"
            media="(min-width:320px)"
          />
          <img src="#" alt="student" class="gallery__img" />
        </picture>
      </li>
      <li class="slider__thumbnails-item">
        <picture>
          <source
            srcset="
              ./images/reviews/mini/ira-mini.webp   1x,
              ./images/reviews/mini/ira-mini@2.webp 2x
            "
            media="(min-width:320px)"
            type="image/web"
          />
          <source
            srcset="./images/reviews/mini/ira-mini.jpg 1x, ./images/reviews/mini/ira-mini@2.jpg 2x"
            media="(min-width:320px)"
          />
          <img src="#" alt="student" class="gallery__img" />
        </picture>
      </li>
      <li class="slider__thumbnails-item">
        <picture>
          <source
            srcset="
              ./images/reviews/mini/tonya-mini.webp   1x,
              ./images/reviews/mini/tonya-mini@2.webp 2x
            "
            media="(min-width:320px)"
            type="image/web"
          />
          <source
            srcset="
              ./images/reviews/mini/tonya-mini.jpg   1x,
              ./images/reviews/mini/tonya-mini@2.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img src="#" alt="student" class="gallery__img" />
        </picture>
      </li>
      <li class="slider__thumbnails-item">
        <picture>
          <source
            srcset="
              ./images/reviews/mini/liza-mini.webp   1x,
              ./images/reviews/mini/liza-mini@2.webp 2x
            "
            media="(min-width:320px)"
            type="image/web"
          />
          <source
            srcset="
              ./images/reviews/mini/liza-mini.jpg   1x,
              ./images/reviews/mini/liza-mini@2.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img src="#" alt="student" class="gallery__img" />
        </picture>
      </li>
    </ul>
  </div>
</section>
