<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title">Feedback from graduates</h2>
    <div class="reviews__wrapper">
      <button class="reviews__btn left">
        <svg class="reviews__btn_left" width="30" height="15">
            <use href="./images/icons.svg#arrow-left"></use>
          </svg>
      </button>
      <div class="reviews__contact">
        <picture>
          <source
            srcset="./images/reviews/ava/tonya.webp 1x, ./images/reviews/ava/tonya@2.webp 2x"
            media="(min-width:1366px)"
            type="images/web"
          />
          <source
            srcset="./images/reviews/ava/tonya.jpg 1x, ./images/reviews/ava/tonya@2.jpg 2x"
            media="(min-width:1366px)"
          />
          <source
            srcset="./images/reviews/ava/tonya.webp 1x, ./images/reviews/ava/tonya@2.webp 2x"
            media="(min-width:768px)"
            type="images/web"
          />
          <source
            srcset="./images/reviews/ava/tonya.jpg 1x, ./images/reviews/ava/tonya@2.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/reviews/ava/tonya-mobile.webp   1x,
              ./images/reviews/ava/tonya-mobile@2.webp 2x
            "
            media="(min-width:280px)"
            type="images/web"
          />
          <source
            srcset="
              ./images/reviews/ava/tonya-mobile.jpg   1x,
              ./images/reviews/ava/tonya-mobile@2.jpg
            "
            media="(min-width:280px)"
          />
          <img class="reviews__avatar" src="#" alt="" />
        </picture>
        <a
          
          class="reviews__link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="revievs__icon" width="30" height="30">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </div>
      <div class="reviews__info">
        <h3 class="reviews__name">Tonya Kucherovskaya</h3>
        <p class="reviews__description">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="reviews__comment">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student

          <a href="javascript:Spoiler();" class="link_spoiler" id="linkSpoiler">... Read more</a>
          <div id="contentSpoiler" style="display: none">
          <p class="reviews__comment">
            However, the political teachings of Hobbes are illustrated by the modern Anglo-American type of political culture. The capitalist world society is accidental. Augustine's political teaching proves the collapse of the Soviet Union. Socialism symbolizes liberalism, K. Popper points out in his research. The idea of ​​the rule of law, however paradoxical it may seem, traditionally causes the anthropological collapse of the Soviet Union, which will inevitably lead to an escalation of tension in the country. International politics exemplifies epistemological liberalism.</p>
          </div>
          <script>
            function Spoiler() {
              var ele = document.getElementById('contentSpoiler');
              var text = document.getElementById('linkSpoiler');
              if (ele.style.display == 'block') {
                ele.style.display = 'none';
                text.innerHTML = '... Read more';
              } else {
                ele.style.display = 'block';
                text.innerHTML = 'close';
              }
            }
          </script>
        </p>
      </div>
      <button class="reviews__btn right" type="button">
        <svg class="reviews__btn_right" width="30" height="15">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
      </button>
    </div>
    <div id="carousel" class="carousel">
    <button class="arrow prev" type="button">
      <svg class="arrow__left" width="30" height="15">
            <use href="./images/icons.svg#arrow-left"></use>
          </svg>
    </button>
    <div class="gallery">
      <ul class="gallery__images">
        <li class="gallery__item">
          <picture>
            <source srcset="./images/reviews/mini/alina-mini.webp 1x, ./images/reviews/mini/alina-mini@2.webp 2x" media="(min-width:320px)" type="image/web"/>
            <source srcset="./images/reviews/mini/alina-mini.jpg 1x, ./images/reviews/mini/alina-mini@2.jpg 2x" media="(min-width:320px)"/>
            <img src="" alt="" class="gallery__img">
          </picture>
          
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/reviews/mini/dina-mini.webp 1x, ./images/reviews/mini/dina-mini@2.webp 2x" media="(min-width:320px)" type="image/web"/>
            <source srcset="./images/reviews/mini/dina-mini.jpg 1x, ./images/reviews/mini/dina-mini@2.jpg 2x" media="(min-width:320px)"/>
            <img src="" alt="" class="gallery__img">
          </picture>
          
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/reviews/mini/diana-mini.webp 1x, ./images/reviews/mini/diana-mini@2.webp 2xg" media="(min-width:320px)" type="image/web"/>
            <source srcset="./images/reviews/mini/diana-mini.jpg 1x, ./images/reviews/mini/diana-mini@2.jpg 2x" media="(min-width:320px)"/>
            <img src="" alt="" class="gallery__img">
          </picture>
          
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/reviews/mini/eva-mini.webp 1x, ./images/reviews/mini/eva-mini@2.webp 2x" media="(min-width:320px)" type="image/web"/>
            <source srcset="./images/reviews/mini/eva-mini.jpg 1x, ./images/reviews/mini/eva-mini@2.jpg 2x" media="(min-width:320px)"/>
            <img src="" alt="" class="gallery__img">
          </picture>
          
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/reviews/mini/ira-mini.webp 1x, ./images/reviews/mini/ira-mini@2.webp 2x" media="(min-width:320px)" type="image/web"/>
            <source srcset="./images/reviews/mini/ira-mini.jpg 1x, ./images/reviews/mini/ira-mini@2.jpg 2x" media="(min-width:320px)"/>
            <img src="" alt="" class="gallery__img">
          </picture> 
          
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/reviews/mini/tonya-mini.webp 1x, ./images/reviews/mini/tonya-mini@2.webp 2x" media="(min-width:320px)" type="image/web"/>
            <source srcset="./images/reviews/mini/tonya-mini.jpg 1x, ./images/reviews/mini/tonya-mini@2.jpg 2x" media="(min-width:320px)"/>
            <img src="" alt="" class="gallery__img">
          </picture> 
          
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/reviews/mini/liza-mini.webp 1x, ./images/reviews/mini/liza-mini@2.webp 2x" media="(min-width:320px)" type="image/web"/>
            <source srcset="./images/reviews/mini/liza-mini.jpg 1x, ./images/reviews/mini/liza-mini@2.jpg 2x" media="(min-width:320px)"/>
            <img src="" alt="" class="gallery__img">
          </picture>
          </li>
       </ul>
    </div>
    <button class="arrow next" type="button">
      <svg class="arrow__right"  width="30" height="15">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
    </button>
  </div>
  </div>




  <!-- ///////////////////////////////////// -->
  

  <!-- <script>
    /* этот код помечает картинки, для удобства разработки */
    let i = 1;
    for (let li of carousel.querySelectorAll('li')) {
      li.style.position = 'relative';
      li.insertAdjacentHTML(
        'beforeend',
        `<span style="position:absolute;left:0;top:0">${i}</span>`,
      );
      i++;
    }

    /* конфигурация */
    let width = 64; // ширина картинки
    let count = 3; // видимое количество изображений

    let list = carousel.querySelector('ul');
    let listElems = carousel.querySelectorAll('li');

    let position = 0; // положение ленты прокрутки

    carousel.querySelector('.prev').onclick = function () {
      // сдвиг влево
      position += width * count;
      // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
      position = Math.min(position, 0);
      list.style.marginLeft = position + 'px';
    };

    carousel.querySelector('.next').onclick = function () {
      // сдвиг вправо
      position -= width * count;
      // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
      position = Math.max(position, -width * (listElems.length - count));
      list.style.marginLeft = position + 'px';
    };
  </script> -->
</section>
