.benefits {
  background-image: linear-gradient(
    to bottom,
    $boldTextColor 75%,
    $mainBackgroundColor 25%,
    $mainBackgroundColor 100%
  );
  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
  }
  @media screen and (min-width: 1366px) {
    margin-bottom: 130px;
  }
  margin-bottom: 39px;

  &__title {
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;

    color: $mainBackgroundColor;

    @media screen and (max-width: 767px) {
      padding-right: 120px;
    }

    @media screen and (min-width: 768px) {
      text-align: center;
    }

    @media screen and (min-width: 1366px) {
      display: none;
    }
  }

  &__list {
    position: relative;
    padding: 20px 15px 20px 30px;

    counter-reset: number 0;
    background-color: $mainBackgroundColor;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @media screen and (min-width: 768px) {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 50px;
      grid-template-columns: 235px 215px;
      padding: 35px 120px 40px 100px;
    }

    @media screen and(min-width:1366px) {
      padding: 70px 80px;
      grid-column-gap: 40px;
      grid-row-gap: 30px;
      grid-template-columns: 355px 355px 355px;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;

    letter-spacing: 0.08em;

    color: $boldTextColor;

    @media screen and(min-width:1366px) {
      font-size: 20px;
      line-height: 1.2;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    &::before {
      display: block;
      counter-increment: number 1;
      content: '— ' counter(number, decimal-leading-zero);
      margin-bottom: 10px;

      font-weight: bold;
      font-size: 14px;
      line-height: 1.64;
      letter-spacing: 0.08em;

      color: $accentTextColor;

      @media screen and (min-width: 1366px) {
        font-size: 20px;
      }
    }
  }
}
