.guarant {
  @media screen and (min-width: 1366px) {
    padding-bottom: 130px;
  }
  padding-bottom: 50px;

  &__title {
    @media screen and (min-width: 1366px) {
      margin-bottom: 50px;
      font-size: 46px;
    }
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;

    text-align: center;
    letter-spacing: 0.03em;

    color: $boldTextColor;
  }

  &__list {
    @media screen and (min-width: 768px) {
      padding: 30px 60px;
    }

    @media screen and (min-width: 1366px) {
      padding: 50px 112px;
    }

    padding: 50px 20px;
    background-color: #f1f1f1;
  }

  &__item {
    display: flex;
    @media screen and (min-width: 768px) {
      padding-left: 25px;
    }
    @media screen and (min-width: 1366px) {
      padding-left: 30px;
    }

    padding-left: 20px;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 768px) {
      padding-bottom: 20px;
    }
    // margin-bottom: 23px;
    padding-bottom: 23px;
    border-left: 1px dashed #b9b9b9;
  }

  &__item::before {
    @media screen and (min-width: 768px) {
      transform: translateX(-218%);
    }
    @media screen and (min-width: 1366px) {
      transform: translateX(-187%);
      width: 22px;
      height: 30px;
    }
    position: absolute;
    display: inline-block;
    margin: 0;
    width: 15px;
    height: 20px;
    transform: translateX(-183%);

    content: '';
    background-image: url('../images/gfire.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__text {
    @media screen and (min-width: 1366px) {
      font-size: 20px;
      line-height: 1.4;
    }
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: #3d3d3d;
  }
  &__item-accent {
    color: $accentTextColor;
  }
}
