.header {
  background-color: $mainBackgroundColor;
  font-family: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;

    position: relative;

    @media screen and(min-width:480px) {
      width: 480px;
    }

    @media screen and(min-width:768px) {
      width: 768px;
      padding: 20px 40px;
    }

    @media screen and(min-width:1366px) {
      width: 1366px;
    }
  }

  &__btn {
    padding: 15px 5px;
    margin-left: auto;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;

    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    cursor: pointer;

    color: $accentTextColor;
    background-color: transparent;
    border: 2px solid $accentTextColor;
    transition: color $animation, background-color $animation, border-color $animation;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1366px) {
      min-width: 336px;
      height: 70px;
      padding: 26px 24px;
    }

    &:focus,
    &:hover {
      color: white;
      background-color: $accentTextColor;
      border-color: white;
    }
  }
}

.logo {
  transition: transform $animation, opacity $animation;
  &__top {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: $boldTextColor;
  }

  &__icon {
    transform: translateY(4px);
    margin-right: 3px;
    margin-left: 2px;
    width: 22px;
    height: 30px;
    color: $accentTextColor;
  }

  &__bottom {
    padding-left: 1px;
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: $boldTextColor;

    &--accent {
      color: $accentTextColor;
    }
  }
  &:hover,
  &:focus {
    transform: translatex(4%) translateY(-4%);

    opacity: 0.9;
  }
}

.nav {
  display: flex;
  justify-content: center;
  margin-left: auto;
  min-width: 648px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__item:last-child {
    margin-right: 60px;
  }

  &__link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $mainTextColor;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.23;
    text-transform: uppercase;
    transition: color $animation;

    &:hover,
    &:focus {
      color: $accentTextColor;
      outline: none;
    }
  }

  @media screen and (max-width: 1365px) {
    display: none;
  }
}

.hamburger {
  top: 37px;
  right: 22px;
  @media screen and (min-width: 768px) and (max-width: 1365px) {
    margin-left: 70px;
    top: 43px;
    right: 59px;
  }

  @media screen and (min-width: 1366px) {
    display: none;
  }
}

//  MOBILE MENU

.mob-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(17, 21, 24, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-100%);
  opacity: 0;
  z-index: 3;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $animation, transform $animation, visibility $animation;

  &__container {
    position: relative;
    padding: 30px 20px;
    max-width: 320px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      width: 332px;
    }
  }

  .mob-logo {
    color: $mainBackgroundColor;
  }

  &__list {
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;

    letter-spacing: 0.03em;

    color: #ffffff;
    transition: color $animation;
  }

  &__link:focus,
  &__link:hover {
    color: $accentTextColor;
  }

  &__btn-consultation {
    @media screen and (min-width: 300px) {
      min-width: 260px;
    }
    padding: 14px 30px;
    min-width: 100%;
    min-height: 48px;
    display: flex;
    margin: 0 auto;

    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    cursor: pointer;
    color: $accentTextColor;
    background-color: transparent;
    border: 2px solid $accentTextColor;
    transition: color $animation, background-color $animation;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__btn-consultation:hover,
  &__btn-consultation:focus {
    color: $mainBackgroundColor;
    background-color: $accentTextColor;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);

  @media screen and (min-width: 1366px) {
    display: none;
  }
}
