.reviews {
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: $boldTextColor;
    max-width: 220px;
    margin: 0 auto;
  }
  &__wrapper {
    max-width: 400px;
    padding: 20px 20px;
    margin: 0 auto 30px auto;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  &__contact {
    margin-bottom: 20px;
    &_avatar {
      width: 90px;
      height: 90px;
      display: block;
      margin: 0 auto;
      border-radius: 100px;
      margin-bottom: 20px;
      &:hover,
      &:focus {
        box-shadow: 0 0 0 3px orange;
      }
    }
    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #436eab;
      &:hover,
      &:focus {
        color: #188ce8;
      }
    }
    &_icon {
      display: block;
      fill: currentColor;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding-bottom: 20px;
    &_name {
      font-weight: 800;
      font-size: 14px;
      line-height: 1.21;
      text-align: center;
      color: $accentTextColor;
      margin-bottom: 10px;
      letter-spacing: 0.08em;
    }
    &_description {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.08em;
      text-align: center;
      color: $mainTextColor;
      padding-bottom: 25px;
    }
    &_comment {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.67;
      text-align: center;
      letter-spacing: 0.08em;
      color: $secondaryTextColor;
      background-color: #fff;
    }
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    &__title {
      font-size: 26px;
      line-height: 1.31;
      max-width: 100%;
      margin: 0 auto 30px auto;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 688px;
      margin-bottom: 30px;
      padding: 40px 50px;
    }
    &__contact {
      margin: 0 40px 0 0;
      &_avatar {
        width: 150px;
        height: 150px;
      }
    }
    &__info {
      max-width: 400px;
      padding-bottom: 0;
      &_name {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: left;
      }
      &_description {
        text-align: left;
        padding-bottom: 5px;
      }
      &_comment {
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .reviews {
    &__title {
      font-size: 46px;
      line-height: 1.3;
      margin-bottom: 50px;
    }
    &__wrapper {
      max-width: 1090px;
      margin-bottom: 40px;
      padding: 50px 80px;
    }
    &__info {
      max-width: 706px;
      &_name {
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 10px;
      }
      &_description {
        font-size: 14px;
        line-height: 1.21;
      }
      &_comment {
        font-size: 18px;
        line-height: 1.56;
      }
    }
  }
}
